<div class="sidebar-links">
    <a href="https://github.com/herveguetin" target="_blank">
        github
    </a>

    <a href="https://twitter.com/herveguetin" target="_blank">
        twitter
    </a>

    <a href="https://fr.linkedin.com/in/herveguetin" target="_blank">
        linkedin
    </a>
</div>